[Unit]
Description=Parity Ethereum client
Documentation=https://wiki.parity.io
After=network.target

[Service]
Type=simple
User={{parity_user}}
Group={{parity_group}}
ExecStart={{parity_dir}}/parity --config {{parity_dir}}/config.toml
Restart=on-failure
# SIGHUP gives parity time to exit cleanly before SIGKILL (default 90s)
KillSignal=SIGHUP

[Install]
WantedBy=default.target
